In [40]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [42]:
df["Continent"] = df.shape[0]*["Asia"]

In [45]:
df["City"] = df.shape[0]*["Delhi"]

In [47]:
df["State"] = df.shape[0] * ["UT"]

In [50]:
df["Country"] = df.shape[0] * ["INDIA"]

In [52]:
df_t=df.T

In [56]:
df_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,Delhi,Delhi,Delhi,Delhi,Delhi,Delhi
State,UT,UT,UT,UT,UT,UT
Country,INDIA,INDIA,INDIA,INDIA,INDIA,INDIA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,Asia,Asia,Asia,Asia,Asia,Asia

In [58]:
df["6"] = ["7","334 Bekar St", "Delhi", "UT", "INDIA", "Donald", "45", "Asia"]

ValueError: Length of values does not match length of index