In [1]:
import pandas

In [2]:
df = pandas.read_json("supermarkets.json")

In [3]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df["Full_addr"] = df["Address"] + "," + df["City"] + "," + df["State"] + "," + df["Country"]

In [6]:
df

,Address,City,Country,Employees,ID,Name,State,Full_addr
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St,San Francisco,CA 94114,USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St,San Francisco,CA 94119,USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St,San Francisco,California 94114,USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St,San Francisco,CA 94114,USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St,San Francisco,California,USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St,San Francisco,CA 94114,USA"

In [7]:
import geopy

ImportError: No module named geopy

In [8]:
pip install geopy

SyntaxError: invalid syntax (<ipython-input-8-887cf9dda678>, line 1)