In [60]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [67]:
df["Address"] = df["Address"] + "," + df["City"] + "," + df["State"] + "," + df["Country"]

In [70]:
df["Address"]

0    3666 21st St,San FranciscoCA 94114USA,San Fran...
1    735 Dolores St,San FranciscoCA 94119USA,San Fr...
2    332 Hill St,San FranciscoCalifornia 94114USA,S...
3    3995 23rd St,San FranciscoCA 94114USA,San Fran...
4    1056 Sanchez St,San FranciscoCaliforniaUSA,San...
5    551 Alvarado St,San FranciscoCA 94114USA,San F...
Name: Address, dtype: object

In [72]:
import geopy

ImportError: No module named geopy